*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea

node_modules
TEST-App.xml
npm-debug.log

# Build artifacts
dist/main.js
dist/main.css
build/main.css
build/main.js
build/specs.js
build/vendors.js